
nvidia-cublas-cu12==12.6.4.1
    # via
    #   nvidia-cudnn-cu12
    #   nvidia-cusolver-cu12
    #   torch
nvidia-cuda-cupti-cu12==12.6.80
    # via torch
nvidia-cuda-nvrtc-cu12==12.6.77
    # via torch
nvidia-cuda-runtime-cu12==12.6.77
    # via torch
nvidia-cudnn-cu12==9.5.1.17
    # via torch
nvidia-cufft-cu12==11.3.0.4
    # via torch
nvidia-cufile-cu12==1.11.1.6
    # via torch
nvidia-curand-cu12==10.3.7.77
    # via torch
nvidia-cusolver-cu12==11.7.1.2
    # via torch
nvidia-cusparse-cu12==12.5.4.2
    # via
    #   nvidia-cusolver-cu12
    #   torch
nvidia-cusparselt-cu12==0.6.3
    # via torch
nvidia-nccl-cu12==2.26.2
    # via torch
nvidia-nvjitlink-cu12==12.6.85
    # via
    #   nvidia-cufft-cu12
    #   nvidia-cusolver-cu12
    #   nvidia-cusparse-cu12
    #   torch
nvidia-nvtx-cu12==12.6.77
    # via torch
torch==2.7.1
    # via
    #   persona-forge (pyproject.toml)
    #   sentence-transformers

aiofiles
aiosqlite
altair
annotated-types
antlr4-python3-runtime
anyio
asttokens
attrs
authlib
brotli
certifi
cffi
charset-normalizer
click
contourpy
cryptography
ctranslate2
cycler
cyclopts
decorator
distro
dnspython
docstring-parser
docutils
duckdb
email-validator
exceptiongroup
executing
fastapi
fastmcp
ffmpy
filelock
fonttools
fsspec
gradio
gradio-client
groovy
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
ipython
ipython-pygments-lexers
isodate
jedi
jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
kiwisolver
langchain-core
langchain-mcp-adapters
langchain-ollama
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk
langsmith
lazy-object-proxy
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mcp
mdurl
more-itertools
mpmath
narwhals
neo4j
networkx
numpy
ollama
omegaconf
openai
openapi-core
openapi-pydantic
openapi-schema-validator
openapi-spec-validator
orjson
ormsgpack
packaging
pandas
parse
parso
pexpect
pillow
platformdirs
plotly
prompt-toolkit
ptyprocess
pure-eval
pycparser
pydantic
pydantic-core
pydantic-settings
pydub
pygments
pyparsing
pyperclip
python-dateutil
python-dotenv
python-multipart
pytz
pyyaml
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rich
rich-rst
rpds-py
ruff
safehttpx
safetensors
scikit-learn
scipy
seaborn
semantic-version
sentence-transformers
setuptools
sqlite-vec
sse-starlette
stack-data
starlette
sympy
tenacity
threadpoolctl
tokenizers
tomlkit
torch
typer
types-pytz
typing-extensions
typing-inspection
tzdata
urllib3
uvicorn
wcwidth
websockets
werkzeug
xxhash
zstandard
whisperx
